<section class="comentario-profile">
  <div class="row">
    <div class="col-12 col-lg-7">
      <input type="text" class="inputCustomField" placeholder="Titulo" id="titleComentario" formControlName="titulo">
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-12 col-lg-7 mb-3 mb-lg-0">
      <select class="select-input-custom ps-2">
        <option value="#" selected>¿Que lugar visitaste?</option>
      </select>
    </div>
    <div class="col-12 col-lg-2 mb-3 mb-lg-0">
      <select class="select-input-custom ps-2">
        <option value="#" selected>Ánimo</option>
      </select>
    </div>
    <div class="col-12 col-lg-3 mb-3 mb-lg-0 text-center">
      <div class="stars">
        <input type="radio" id="star1" name="rating" value="1" formControlName="stars"/>
        <input type="radio" id="star2" name="rating" value="2" formControlName="stars"/>
        <input type="radio" id="star3" name="rating" value="3" formControlName="stars"/>
        <input type="radio" id="star4" name="rating" value="4" formControlName="stars"/>
        <input type="radio" id="star5" name="rating" value="5" formControlName="stars"/>
        <label for="star1">1 star</label>
        <label for="star2">2 stars</label>
        <label for="star3">3 stars</label>
        <label for="star4">4 stars</label>
        <label for="star5">5 stars</label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <textarea class="customTextarea" placeholder="Escribe tu reseña aquí..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="tinpyButton">Comentar</button>
    </div>
  </div>
</section>
