<header class="header">
  <div class="header__logo">
    <span routerLink="/" class="cursor-pointer tinpy-logo">Tinpy</span>
  </div>
  <input
    class="header__input-search inputCustomField"
    type="text"
    placeholder="Buscar"
  />
  <div class="header__img imgCircular">
    <app-menu-header [perfil]="perfil" (logout)="logout()"></app-menu-header>
    <!-- <img routerLink="/auth" class="cursor-pointer" src="https://www.xtrafondos.com/wallpapers/resized/chica-anime-arte-digital-9879.jpg?s=large" alt="Profile"> -->
  </div>
</header>
