<header class="header">
  <div class="header__logo">
    <span routerLink="/" class="cursor-pointer tinpy-logo">Tinpy</span>
  </div>
  <form [formGroup]="form">
    <input
    class="header__input-search inputCustomField"
    type="text"
    placeholder="Buscar"
    *ngIf="searchInput"
    formControlName="query"
    (keyup.enter)="searchProducts()"
  />
  </form>
  <div class="header__img-container">
    <span >{{perfil.nombre}}</span>
    <div class="header__img imgCircular">
      <app-menu-header [perfil]="perfil" (logout)="logout()"></app-menu-header>
    </div>
  </div>
</header>
