.profile-page{
  .profile-page__img{
    display: flex;
    justify-content: center;
    align-items: center;
    .imgCircular{
      height: 300px;
      width: 300px;
      img{
        object-fit: contain;
      }
    }
  }
  
}
// @media screen and (max-width: 991px) {
  // .profile-page{
  //   .profile-page__img{
  //     margin: auto;
  //   }
  //   .profile-page__desc{
  //     text-align: center;
  //   }
  // }
// }