<div class="container">
    <div class="row my-3">
      <div class="col-12">
        <h6 class="display-5 text-center" *ngIf="!id">
          ¿Tienes un local o servicio que ofrecer?
        </h6>
        <h6 class="display-5 text-center" *ngIf="id">
          Editar Negocio
        </h6>
      </div>
      <form [formGroup]="noShopForm" (submit)="submit()" class="row">
        
        <div class="file-container col-12 text-center mt-3" #dropzone>
          <input
            #inputFile
            title="file"
            type="file"
            (change)="getFile($event)"
            (dragenter)="dropZone()"
            (dragleave)="dropZone()"
            class="file imgInput cursor-pointer"
          />
          <label class="col-12">Imagen</label>
        </div>

        <div class="col-12">
          <div class="col-12">
            <input type="text" placeholder="Nombre" class="inputCustomField py-2 mt-3" formControlName="name" />
  
            <select class="select-input-custom w-100 ps-2 mt-3" formControlName="shopType" title="shopType">
                <option value="#" selected>Tipo de negocio</option>
                <option *ngFor="let shopType of shopTypes" [value]="shopType._id">{{shopType.nombre}}</option>
            </select>
          </div>
          <div class="col-12 mt-3">
            <app-map-address class="text-center" (lngLat)="changeMarkerMap($event)" [initialLnglat]="this.address.lngLat"></app-map-address>
          </div>
        </div>
    
        <input type="text" placeholder="Telefono" class="inputCustomField py-2 mt-3" formControlName="phone">
    
        <input type="text" placeholder="Correo" class="inputCustomField py-2 mt-3" formControlName="email">
    
        <textarea class="customTextarea mt-3" placeholder="Escribe tu descripcion aquí..." formControlName="desc"></textarea>
    
        <div class="row mt-4">
          <div class="col-12">
            <h5 class="display-3 text-center">Planes</h5>
          </div>
        </div>
        
        <div class="planItem-container">
          <div class="planItem" [class.selected]=" plan == 'basic' ">
            <span class="planItem__title">Plan plata</span>
            <img src="../../../../assets/imgs/plans/silver.png" alt="imgPlan" class="planItem__img">
            <ul class="planItem__ul">
              <li class="planItem__li">Accesos a todas las funciones</li>
              <li class="planItem__li text-del">Posicionamiento preferente</li>
              <li class="planItem__li text-del">Maximizar el rango de aparicion</li>
            </ul>
            <div class="planItem__price">
              <span class="planItem__price-value">$ 0</span>
              <span class="planItem__price-sub">
                CLP/Month
              </span>
            </div>
           <button type="button" class="mb-3 tinpyButton" (click)="selectPlan('basic')">
            {{(plan == 'basic')? 'Seleccionado': 'Seleccionar'}}
          </button>
          </div>
          <div class="planItem" [class.selected]=" plan == 'estandar' ">
            <span class="planItem__title">Plan oro</span>
            <img src="../../../../assets/imgs/plans/gold.png" alt="imgPlan" class="planItem__img">
            <ul class="planItem__ul">
              <li class="planItem__li">Acceso a todas las funciones</li>
              <li class="planItem__li">Posicionamiento preferente</li>
              <li class="planItem__li text-del">Maximizar el rango de aparicion</li>
            </ul>
            <div class="planItem__price">
              <span class="planItem__price-value">$ 2.990</span>
              <span class="planItem__price-sub">
                CLP/Month
              </span>
            </div>
           <button type="button" class="mb-3 tinpyButton" (click)="selectPlan('estandar')" >
            {{(plan == 'estandar')? 'Seleccionado': 'Seleccionar'}}
           </button>
          </div>
          <div class="planItem" [class.selected]=" plan == 'premium' ">
            <span class="planItem__title">Plan diamante</span>
            <img src="../../../../assets/imgs/plans/diamond.png" alt="imgPlan" class="planItem__img">
            <ul class="planItem__ul">
              <li class="planItem__li">Acceso a todas las funciones</li>
              <li class="planItem__li">Posicionamiento preferente</li>
              <li class="planItem__li">Maximizar el rango de aparicion</li>
            </ul>
            <div class="planItem__price">
              <span class="planItem__price-value">$ 4.590</span>
              <span class="planItem__price-sub">
                CLP/Month
              </span>
            </div>
            <button type="button" class="mb-3 tinpyButton" (click)="selectPlan('premium')">
              {{(plan == 'premium')? 'Seleccionado': 'Seleccionar'}}
            </button>
          </div>
        </div>

        <div class="col-12 text-center mt-3">
            <button class="tinpyButton" [class.disabled]="noShopForm.invalid" type="submit">{{(id)? 'Editar' : 'Crear'}}</button>
        </div>
      </form>
    </div>
  </div>