.inputCustomField{
  border: none;
  filter: $drop-shadow;
  -webkit-filter: $drop-shadow;
  width: 100%;
  padding: 5px 15px;
}
.inputCustomField::placeholder{
  font-weight: 600;
}
.inputCustomField:focus{
  outline: none;
}
.inputCustomField.bottomLine{
  border-bottom: 5px solid $primary;
}
.inputCustomField.py-10{
  padding-top:10px;
  padding-bottom:10px;
}
.inputCustomField.fs-28{
  font-size: 28px;
}

