.product-card-full{
  height: 300px;
  width: 100%;
  display: flex;
  gap: 30px;
  background-color: $white;
  filter: $drop-shadow;
  -webkit-filter: $drop-shadow;
  .product-card-full__img{
    width: 25%;
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .product-card-full__info-container{
    width: 100%;
    position: relative;
    .product-card-full__info{
      margin: 20px;
      h6{
        font-size: 38px;
        margin: 0;
      }
      span{
        display: inline-block;
        margin: 5px 0;
        font-size: 22px;
      }
      p{
        display: block;
        max-height: 100px;
        overflow-y: auto;
      }
    }
    .product-card-full__footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      justify-self: flex-end;
      position: absolute;
      bottom: 30px;
      width: 90%;
      span{
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}
@media screen and (max-width:571px) {
  .product-card-full{
    height: auto;
    width: 100%;
    gap: 0;
    flex-direction: column;
    .product-card-full__img{
      width: 100%;
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    .product-card-full__info-container{
      width: 100%;
      position: relative;
      .product-card-full__info{
        margin: 20px;
      }
      .product-card-full__footer{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        position: static;
        width: 90%;
        span{
          font-weight: 600;
          font-size: 24px;
        }
      }
    }
  }
}
