.tinpy-badge{
  display: inline-block;
  background-color: $primary;
  color: $white;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
