<div class="product-card-full">
  <div class="product-card-full__img">
    <img src="{{tinpyBackendURL}}/{{producto.imagenPrincipal}}" alt="producto.nombre">
  </div>
  <div class="product-card-full__info-container">
    <div class="product-card-full__info">
      <h6>{{producto.nombre}}</h6>
      <span class="c-primary">{{producto.categoria?.nombre || 'Sin categoria'}}</span>
      <p>{{producto?.descripcion || ''}}</p>
    </div>
    <div class="product-card-full__footer">
      <button class="tinpyButton" routerLink="/product/{{producto._id}}">
        Ver Mas...
      </button>
      <span>
          {{producto.precio || '???' }} CLP
      </span>
    </div>
  </div>
</div>
