<div class="tinpy-public-home__page">
  <img src="./assets/imgs/fondo-inicio.jpg" alt="HomePage">

  <form class="tinpy-public-home__page-container" [formGroup]="formSearch">
    <span class="tinpy-logo">¿Que buscas?</span>
    <input
    class="header__input-search inputCustomField py-10 fs-28 shadow-filter"
    type="text"
    placeholder="Buscar..."
    formControlName="search"
   />
   <button class="tinpyButton fs-28 fb-600 w-250" (click)="click()">
    Buscar
  </button>
  </form>

</div>
