.shop-page{
  position: relative;
  .shop-page__banner{
    width: 100vw;
    height: 350px;
    img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
  }
  .shop-page__header{
    position: absolute;
    top: 200px;
    left: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    img{
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 200%;
      -webkit-border-radius: 200%;
      -moz-border-radius: 200%;
      -ms-border-radius: 200%;
      -o-border-radius: 200%;
    }
    .shop-page__header-title{
      font-weight: 600;
      min-width: 250px;
      max-width: 320px;
      text-align: center;
      height: 56px;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .shop-page__header-stars{
      height: 50px;
      img{
        object-fit: contain;
        height: 100%;
        width: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
    }
  }
  .shop-page__descripcion{
    margin: 105px 70px 0 400px;
    position: absolute;
    p{
    font-weight: 600;
    }
  }
  .shop-page__direccion{
    position: relative;
    display: flex;
    align-items: center;
    height: 350px;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid $primary;
    margin-top: 290px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    .shop-page__direccion-mapa{
      justify-self: flex-start;
      width: 400px;
      height: 100%;
    }
    .shop-page__direccion-horario{
      width: 220px;
      position: absolute;
      left: calc(50% - 120px);
      h6{
      font-size: 24px;
      }
      text-align: center;
    }
}
}
@media screen and (max-width:1320px) {
  .shop-page{
    position: relative;
    .shop-page__descripcion{
      margin: 105px 70px 0 400px;
    }
    .shop-page__direccion{
      gap: 30px;
      display: flex;
      justify-content: space-around;
      height: auto;
      margin-top: 320px;
      .shop-page__direccion-mapa{
        height: 350px;
      }
      .shop-page__direccion-horario{
        position: relative;
        left: 0;
      }
  }
  }
}
@media screen and (max-width:910px) {
  .shop-page{
    .shop-page__header{
      left: 50%;
      margin-left: -125px;
    }
    .shop-page__descripcion{
      margin: 280px 20px 0 20px;
      text-align: center;
      position: relative;
    }
    .shop-page__direccion{
      justify-content: center;
      gap: 20px;
      margin-top: 0;
    }
  }
}
