<!-- {{negocio | json}} -->
<div class="shop-page" *ngIf="!noShop">
  <div class="shop-page__banner">
    <div class="btns-banner">
      <button class="tinpyButton" (click)="openModalEditShop()">Editar Negocio</button>
      <button class="tinpyButton">Horario</button>
    </div>
    <img src="https://i.pinimg.com/originals/7d/98/84/7d98840fdff1b2e7cd508cc7f3a17403.jpg" alt="">
  </div>
  <ng-template [ngIf]="!editShop">
    <div class="shop-page__header">
      <img src="{{tinpyBackendURL}}/{{shop.img}}" [alt]="shop.nombre" title="name">
      <div class="tinpy-badge display-6 shop-page__header-title">
        {{shop.nombre}}
      </div>
      <span class="c-primary">
        ({{shop.tipoNegocio?.nombre?.toUpperCase()}})
      </span>
      <div class="shop-page__header-stars">
        <img *ngFor="let star of drawPromedioEstrellas" [src]="star" alt="stars">
      </div>
    </div>
    <div class="shop-page__descripcion">
      <p>
        {{shop.descripcion || 'Proximamente agregaremos una historia mas detallada :3' }}
      </p>
    </div>
    <div class="container-fluid">
      <div class="shop-page__direccion">
        <div class="shop-page__direccion-mapa">
          <app-mini-mapa *ngIf="lngLat[0] != 0" [lngLat]="lngLat"></app-mini-mapa>
        </div>
        <div class="shop-page__direccion-horario" *ngIf="horario.ok">
          <h6>Horarios de atencion</h6>
          <span class="c-primary">LU ~ </span> <span>{{horario.lunes_inicio}} - {{horario.lunes_cierre}}</span><br>
          <span class="c-primary">MA ~ </span> <span>{{horario.martes_inicio}} - {{horario.martes_cierre}}</span><br>
          <span class="c-primary">MI ~ </span> <span>{{horario.miercoles_inicio}} - {{horario.miercoles_cierre}}</span><br>
          <span class="c-primary">JU ~ </span> <span>{{horario.jueves_inicio}} - {{horario.jueves_cierre}}</span><br>
          <span class="c-primary">VI ~ </span> <span>{{horario.viernes_inicio}} - {{horario.viernes_cierre}}</span><br>
          <span class="c-primary">SA ~ </span> <span>{{horario.sabado_inicio}} - {{horario.sabado_cierre}}</span><br>
          <span class="c-primary">DO ~ </span> <span>{{horario.domingo_inicio}} - {{horario.domingo_cierre}}</span>
        </div>
        <div class="shop-page__direccion-horario" *ngIf="!horario.ok">
          Este local aun no dispone de horarios de atencion
        </div>
      </div>
    </div>
  </ng-template>
  
</div>

<app-no-shop *ngIf="noShop || editShop" [id]="shop._id"></app-no-shop>
