<section>
    <form [formGroup]="form" class="row justify-content-center" (submit)="save()">
      <div class="file-container col-12 text-center mb-3" #dropzone>
        <input
          #inputFile
          type="file"
          (change)="getFile($event)"
          (dragenter)="dropZone()"
          (dragleave)="dropZone()"
          class="file imgInput cursor-pointer"
        />
        <label class="col-12">Cambiar Imagen</label>
      </div>
      <div class="mb-3">
        <select formControlName="categoria" class="select-input-custom py-10 px-2">
          <option value="#">Categoria</option>
          <option *ngFor="let categoria of categoriaService.categorias" [value]="categoria._id">{{categoria.nombre}}</option>
        </select>
      </div>
      <div class="mb-3">
        <input
        class="inputCustomField bottomLine py-10"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
        />
      </div>
      <div class="mb-3">
        <input
        class="inputCustomField bottomLine py-10"
        type="number"
        placeholder="Precio"
        formControlName="precio"
        />
      </div>
      <div class="col-12">
        <textarea class="customTextarea" placeholder="Escribe tu descripcion aquí..." formControlName="descripcion"></textarea>
      </div>
      <button type="submit" class="tinpyButton col-3 mt-2" [class.disabled]="form.invalid || form.get('categoria')?.value == '#'">Guardar</button>
    </form>
  </section>
  