/* You can add global styles to this file, and also import other style files */
@import './assets/sass/main.scss';

.c-primary{
  color: $primary;
}
.err-msg-hidden{
  display:none;
}
.cursor-pointer{
  cursor: pointer;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: $primary;
  transition: .3s ease color;
}
a:hover{
  color: $secondary;
}
.shadow-filter{
  filter: $drop-shadow;
  -webkit-filter: $drop-shadow;
}
.row-products{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

